extends admin_layout

block content
	#datablock(style="display: none", data-userid=`${user._id}`)

	h1 Create a New Post
	.form.postForm
		.row
			.col-sm-8
				ul.list.postformList
					li
						h3 Title
						input(type="text", id="q_title")
					li
						h3 Slug
						input(type="text", id="q_slug")
					li
						h3 Collections
						ul.list#collection_list
							each collection in collections
								li
									input(type="checkbox", value=`${collection.name}`)
									label #{collection.name}
					li
						h3 Post Body
						.toggleBox
							label Use Content Blocks?
							input(id="cb_toggle", type="checkbox")
						div#q_content
						script.
							$(document).ready(function() {
							    $('#q_content').summernote({
							    	height: 300,
							    });
							});
						#cb
							p Add a section to the post
							ul.list#content_block_list
							ul.list.post_section_menu
								//- li Plain text
								//- li html
								//- li Image
								//- li Video
			.col-sm-4
				h3 Featured Image
				#featImg_container
					p No Featured Image Set
					#remove_img
						p Remove Featured Img
				.panel.panel-default#upload_box
					.panel-body
						span(class="glyphicon glyphicon-cloud-upload")
						.progress
							#feat_img_prog.progress-bar(role="progressbar")
						input(id="upload-input" type="file" name="uploads[]" multiple="multiple")
						button.btn#upload_btn(type="button") Upload File

				h3 Industries
				button.expand_addcatbox.btn Add an Industry

				.addcatbox
					input#q_industryname(placeholder="Industry name...")
					input#q_industry_description(placeholder="Industry description...")
					button#add_industry.btn Submit
					#industry_err.error_box
					#industry_success.success_box

				ul.list.categories#industry_list
					each industry in industries
						li
							input(type="checkbox", value=`${industry.name}`)
							label #{industry.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${industry._id}`) Delete
								li
									a Edit
				h3 Outcomes
				button.expand_addcatbox.btn Add an Outcome

				.addcatbox
					input#q_outcomename(placeholder="Outcome name...")
					input#q_outcome_description(placeholder="Outcome description...")
					button#add_outcome.btn Submit
					#outcome_err.error_box
					#outcome_success.success_box

				ul.list.categories#outcome_list
					each outcome in outcomes
						li
							input(type="checkbox", value=`${outcome.name}`)
							label #{outcome.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${outcome._id}`) Delete
								li
									a Edit
				h3 Elements
				button.expand_addcatbox.btn Add a Category

				.addcatbox
					input#q_elementname(placeholder="Elements name...")
					input#q_element_description(placeholder="Elements description...")
					button#add_element.btn Submit
					#element_err.error_box
					#element_success.success_box

				ul.list.categories#element_list
					each element in elements
						li
							input(type="checkbox", value=`${element.name}`)
							label #{element.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${element._id}`) Delete
								li
									a Edit
				h3 Publishers
				button.expand_addcatbox.btn Add a Publisher

				.addcatbox
					input#q_publishername(placeholder="Publishers name...")
					input#q_publisher_description(placeholder="Publishers description...")
					button#add_publisher.btn Submit
					#publisher_err.error_box
					#publisher_success.success_box

				ul.list.categories#publisher_list
					each publisher in publishers
						li
							input(type="checkbox", value=`${publisher.name}`)
							label #{publisher.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${publisher._id}`) Delete
								li
									a Edit


		p.btn(href="", id="send_btn") Submit
		img#spin(src="/static/img/spin.gif")
		#error_box
		#successBox