extends admin_layout

block content
	div(id="datablock", style="display: none", data-postid=`${postid}`)
	h1 Edit, #{post.title}
	a(href=`/admin/posts/single/${post._id}`) View Post
	.form.postForm
		.row
			.col-sm-8
				ul.list.postformList
					li
						h3 Title
						input(type="text", id="q_title", value=`${post.title}`)
					li
						h3 Slug
						input(type="text", id="q_slug", value=`${post.slug}`)
					li
						h3 Collections
						ul.list#collection_list
							each collection in collections
								li
									if collection.checked
										input(type="checkbox", value=`${collection.name}`, checked)
									else
										input(type="checkbox", value=`${collection.name}`)
									label #{collection.name}
					li
						h3 Post Body
						.toggleBox
							label Use Content Blocks?
							if post.body.substring(0, 3) != '[{"'
								input(id="cb_toggle", type="checkbox")
							else
								input(id="cb_toggle", type="checkbox" checked)
						div#q_content
						#cb
							p Add a section to the post
							ul.list#content_block_list
								if post.body.substring(0, 3) == '[{"'
									each block in JSON.parse(post.body)
										li
											.contentBlock(data-content_type=`${block.blocktype}`)
												h4 #{block.blocktype}
												.remove x
												case block.blocktype
													when 'Plain Text'
														textarea #{block.blockvalue}
													when 'Video'
														input(type="text")
													when 'Image'
														if block.blockvalue != ''
															img(src=`${block.blockvalue}`)
															input(type="file")
															.progress
																.progress-bar
														else
															img(src="" style="display: none")
															input(type="file")
															.progress
																.progress-bar
													when 'HTML'
														textarea.htmlEdit #{block.blockvalue}
							ul.list.post_section_menu
						if post.body.substring(0, 3) != '[{"'
							script.
								$(document).ready(function() {
										
									const data = !{JSON.stringify(post).replace(/<\//g, '<\\/')};
									const htmlString = data.body;
								    $('#q_content').summernote('code', htmlString);

								});
						else
							script.
								$(document).ready(function() {
										
									$('#cb').show();

								});
								
			.col-sm-4
				h3 Featured Image
				#featImg_container
					if post.feat_img == ''
						p No Featured Image Set
						#remove_img
							p Remove Featured Img
					else
						#remove_img
							p Remove Featured Img
						img(src=`${post.feat_img}`)
				.panel.panel-default#upload_box
						.panel-body
							span(class="glyphicon glyphicon-cloud-upload")
							.progress
								#feat_img_prog.progress-bar(role="progressbar")
							input(id="upload-input" type="file" name="uploads[]" multiple="multiple")
							button.btn#upload_btn(type="button") Upload File
				if post.feat_img != ''
					script.
						$('#upload_box').hide();

				h3 Industries
				button.expand_addcatbox.btn Add an Industry

				.addcatbox
					input#q_industryname(placeholder="Industry name...")
					input#q_industry_description(placeholder="Industry description...")
					button#add_industry.btn Submit
					#industry_err.error_box
					#industry_success.success_box

				ul.list.categories#industry_list
					each industry in industries
						li
							if industry.checked
								input(type="checkbox", value=`${industry.name}`, checked)
							else
								input(type="checkbox", value=`${industry.name}`)
							label #{industry.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${industry.id}`) Delete
								li
									a Edit

				h3 Outcomes
				button.expand_addcatbox.btn Add an Outcome

				.addcatbox
					input#q_outcomename(placeholder="Outcome name...")
					input#q_outcome_description(placeholder="Outcome description...")
					button#add_outcome.btn Submit
					#outcome_err.error_box
					#outcome_success.success_box

				ul.list.categories#outcome_list
					each outcome in outcomes
						li
							if outcome.checked
								input(type="checkbox", value=`${outcome.name}`, checked)
							else
								input(type="checkbox", value=`${outcome.name}`)
							label #{outcome.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${outcome.id}`) Delete
								li
									a Edit

				h3 Elements
				button.expand_addcatbox.btn Add an Element

				.addcatbox
					input#q_elementname(placeholder="Element name...")
					input#q_element_description(placeholder="Element description...")
					button#add_element.btn Submit
					#element_err.error_box
					#element_success.success_box

				ul.list.categories#element_list
					each element in elements
						li
							if element.checked
								input(type="checkbox", value=`${element.name}`, checked)
							else
								input(type="checkbox", value=`${element.name}`)
							label #{element.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${element.id}`) Delete
								li
									a Edit

				h3 Publishers
				button.expand_addcatbox.btn Add a Publisher

				.addcatbox
					input#q_publishername(placeholder="Publisher name...")
					input#q_publisher_description(placeholder="Publisher description...")
					button#add_publisher.btn Submit
					#element_err.error_box
					#element_success.success_box

				ul.list.categories#publisher_list
					each publisher in publishers
						li
							if publisher.checked
								input(type="checkbox", value=`${publisher.name}`, checked)
							else
								input(type="checkbox", value=`${publisher.name}`)
							label #{publisher.name}
							ul.list
								li
									span.delbtn.deletecat(data-catid=`${publisher.id}`) Delete
								li
									a Edit

		p.btn(href="", id="update_btn") Update Post
		p.btn(id="delete_btn") Delete
		img#spin(src="/static/img/spin.gif")
		#error_box
		#successBox
	