extends admin_layout

block content
	h1 Posts
	a(href="/admin/posts/new" class="btn addnew") Create New Post
	br

	ul.list#filter_list
		li
			label Industry
			input.filter(id="industry_filter", type="text", placeholder="Industry...")
		li
			label Outcome
			input.filter(id="outcome_filter", type="text", placeholder="Outcome...")
		li
			label Element
			input.filter(id="element_filter", type="text", placeholder="Element...")
		li
			label Publisher
			input.filter(id="publisher_filter", type="text", placeholder="Publisher...")

	//- input.filter(id="posts_filter", type="text", placeholder="filter...")

	ul.list.entity_list#post_list
		each post in posts
			li
				.imgBox
					img(src=`${post.feat_img}` )
				a(href=`/admin/posts/single/${post._id}`) #{post.title}


	//- ul.list.entity_list#post_list
	//- 	each post in posts
	//- 		li
	//- 			a(href=`/admin/posts/${post._id}`) #{post.title}
	//- 			ul.list.operations
	//- 				li
	//- 					span.delete.delbtn(data-postid=`${post._id}`) Delete
	//- 				li
	//- 					a(href=`/admin/posts/${post._id}`) Edit