extends admin_layout

block content
	h1 Collections
	a(href="/admin/collections/new" class="btn addnew") Create New Collection
	br
	ul.list.entity_list#collectionList
		each collection in collections
			li
				a(href=`/admin/collection/single/${collection._id}`) #{collection.name}
				ul.list.operations
					li
						span.delete.delbtn(data-collectionid=`${collection._id}`) Delete
					li
						a(href=`/admin/collection/${collection._id}`) Edit
			//- li
			//- 	.collectionBox
			//- 		h3 #{collection.name}
			//- 		a(href=`/admin/collection/single/${collection._id}`) #{collection.name}
			//- 		a(href=`/admin/collection/${collection._id}`) Edit Collection

	//- ul.list#filter_list
	//- 	li
	//- 		label Industry
	//- 		input.filter(id="industry_filter", type="text", placeholder="Industry...")
	//- 	li
	//- 		label Outcome
	//- 		input.filter(id="outcome_filter", type="text", placeholder="Outcome...")
	//- 	li
	//- 		label Element
	//- 		input.filter(id="element_filter", type="text", placeholder="Element...")
	//- 	li
	//- 		label Publisher
	//- 		input.filter(id="publisher_filter", type="text", placeholder="Publisher...")

	//- input.filter(id="posts_filter", type="text", placeholder="filter...")

	//- img(src="/static/img/spin.gif")#postspin